<h1>Register</h1>
<form action="/account/register" method="POST" id="registration-form">
    <input type="email" name="email" placeholder="Email" id="email" required>
    <input type="password" name="password" placeholder="Password" id="password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <button type="submit">Register</button>
</form>