<%- include('partials/header') %>
    <main>
        <h1>Page Not Found</h1>
        <p>Sorry this is not the page you are looking for.</p>
        <pre><%= error%></pre>
    </main>
<%- include('partials/footer') %>