<h1>Welcome to the About Page</h1>
<h2>Teirza Tippets</h2>
<img src="/image/myface.jpg" alt="picture of me">

<h3>About me:</h3>
<p>For anyone interested, my name Teirza was my dad's idea. He knew someone who was tlingit (native alaskan) with this name!
However most people recognize it as a Hebrew name, which can be found in Leviticus as 'Tirzah'.</p>

<p>As of right now I am a senior at BYU-Idaho as a Web Design & Development Major!</p>